.aside-filter {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        width: 50%;

    }

    &__tab.tab--active {
        color: #2F3035;
        font-family: "SFProDisplay-bold", sans-serif;
        font-weight: bold;
    }

    &__tab.tab--active span {
        padding-bottom: 7px;
        display: inline-block;
        border-bottom: 2px solid #1C62CD;
    }

    &__item-drop {
        margin: 40px 0;
    }

    &__item-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #2F3035;
    }
}