.aside-filter {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        width: 50%;

    }

    &__tab.tab--active {
        color: #2F3035;
        font-family: "SFProDisplay-bold", sans-serif;
        font-weight: bold;
    }

    &__tab.tab--active span {
        padding-bottom: 7px;
        display: inline-block;
        border-bottom: 2px solid #1C62CD;
    }

    &__item-drop {
        margin: 40px 0;
    }

    &__item-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #2F3035;
        padding-left: 26px;
        font-family: "SFProDisplay-Semibold", sans-serif;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    &__content.aside-filter__content-radio {
        flex-wrap: nowrap;
    }

    &__content-box {
        width: 50%;
    }
}

.aside-filter__content-label {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}



.filter__item-drop {
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        background-image: url('../../images/arrow-down.svg');
        left: 0;
        bottom: 6px;
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
        transition: all .3s linear;
    }
}

.filter__item-drop--active {
    &::before {
        transform: rotate(180deg);
    }
}


// checkbox

.jq-checkbox,
.jq-radio {
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -2px;
    margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
    background: #1C62CD;
    border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0deg);
    background-image: url('../../images/checked-icons.svg');
}

.jq-radio.checked .jq-radio__div {
    width: 0 ;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

// Range.slider 

.irs--flat.irs-with-grid {
    width: 100%;
}