.aside-filter {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        width: 50%;

    }

    &__tab.tab--active {
        color: #2F3035;
        font-family: "SFProDisplay-bold", sans-serif;
        font-weight: bold;
    }

    &__tab.tab--active span {
        padding-bottom: 7px;
        display: inline-block;
        border-bottom: 2px solid #1C62CD;
    }

    &__item-drop {
        margin: 40px 0;
    }

    &__item-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #2F3035;
        padding-left: 26px;
        font-family: "SFProDisplay-Semibold", sans-serif;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    &__content.aside-filter__content-radio {
        flex-wrap: nowrap;
    }

    &__content-box {
        width: 50%;
        margin-bottom: 10px;
    }
}

.aside-filter__content-label {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}



.filter__item-drop {
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        background-image: url('../../images/arrow-down.svg');
        left: 0;
        bottom: 6px;
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
        transition: all .3s linear;
    }
}

.filter__item-drop--active {
    &::before {
        transform: rotate(180deg);
    }
}


// checkbox

.jq-checkbox,
.jq-radio {
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -2px;
    margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
    background: #1C62CD;
    border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0deg);
    background-image: url('../../images/checked-icons.svg');
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

// Range.slider 

.irs--flat {
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    top: 55px;
    padding: 0;
    line-height: 17px;
    text-decoration: underline;
    font-size: 14px;
    color: #2F3035;
    font-family: 'Barlow', sans-serif;
    visibility: visible !important;
    padding-left: 27px;


    text-shadow: none;
    background-color: transparent;
}

.irs-min::before,
.irs-max::before {
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #C4C4C4;
    left: 0;
}

.irs-min::before {
    content: 'от';
}

.irs-max::before {
    content: 'до';
}

.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #E0E0E0;
    border-radius: 0;
}

.irs--flat .irs-bar {
    top: 24px;
    height: 3px;
    background-color: #1C62CD;
}


.irs--flat .irs-handle {
    top: 21px;
    width: 8px;
    height: 8px;
    background-color: #1C62CD;
    border-radius: 50%;
    cursor: pointer;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}


.aside-filter__item-list {
    margin: 40px 0 40px;

}

.filter__item-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    padding-top: 34px;
}

.filter__item-listtitle {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2F3035;
    margin-bottom: 5px;
    padding-left: 26px;
}

.filter__item-listselect {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
}

.jq-selectbox__select {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;

    height: 20px;
    padding: 0 20px 0 10px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__trigger {
    background-image: url(../../images/arrow-down.svg);
    bottom: 5px;
    width: 12px;
    height: 8px;
    border-left: none;
    top: 6px;
    right: 9px;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
    background: transparent;
    box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox li:hover {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
    border-radius: 0;
}

.filter-more {
    width: 100%;
}

.filter-more__btn {
    border: none;
    border-bottom: 1px solid #1C62CD;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    color: #1C62CD;
}

.filter-search {
    width: 100%;
    border: 1px solid #E0E0E0;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;

    &::placeholder {
        color: #BDBEC2;

    }
}