.catalog {
    margin-bottom: 100px;

    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #2F3035;
        font-family: "SFProDisplay-bold", sans-serif;
        margin-bottom: 26px;
    }

    &__filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;
    }

    &__filter-items {
        button {
            font-size: 14px;
            line-height: 17px;
            color: #2F3035;
            opacity: 0.7;
            background: #F0F0F4;
            border-radius: 3px;
            border: none;
            padding: 5px 22px;
            cursor: pointer;
        }

        button+button {
            margin-left: 8px;
        }
    }

    &__filter-btn {
        display: flex;
        align-items: center;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
        }

        button+button {
            margin-left: 10px;
        }
    }

    .select-item {
        border: 1px solid #D7D9DF;
        font-size: 14px;
        line-height: 17px;
        color: #2F3035;
        margin-right: 34px;
        padding: 7px 10px 7px 20px;
        min-width: 178px;
    }

    .jq-selectbox__select-text {
        margin-right: 10px;
    }

    &__filter-btngrid {
        width: 26px;
        height: 21px;
    }


    

    &__filter-btnline {
        width: 25px;
        height: 19px;
    }

    &__inner {
        display: flex;
    }

    &__inner-aside {
        min-width: 290px;
        margin-right: 10px;
    }

    .products-item__wrapper.product-item__wrapper--list {
        width: 100%;
    }
}

.catalog__filter-button {
    opacity: 0.3;
    outline: none;
}

.catalog__filter-button--active {
    opacity: 1;
}