
.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
    border-radius: 5px;
    background-color: #F0F0F0;
    font-weight: 700;
    font-family: "SFProDisplay-bold", sans-serif;
}

.tabs-content.tabs-content--active {
    display: block;
}


.tabs-content {
    display: none;
}






.search__content-form {
    display: flex;
}

.search__content-input {
    width: 100%;
    background: #F0F0F4;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    &::placeholder {
        color: #656464;
    }
}



.search__content-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    font-family: "SFProDisplay-bold", sans-serif;
    border-radius: 3px;
    background-color: #1C62CD;
    padding: 17px 41px;
    border: none;
    margin-left: -3px;
    cursor: pointer;
}